# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

In [2]:
pwd

'C:\\Users\\Lenovo\\akshatha\\PYTHON ESSE'

## Tutorial
- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

## Cell Types

In [ ]:
# A Code cell is the default cell type in Jupyter
40 + 5 - 16

Any execution of code and performing operations must take place in a code cell.

## Markdown
Text may be styled within a markdown cell. 
**This is handy for**
### Section Headings 
or
#### Titles
_This allows easy viewing of your project in an organized fashion._

The third cell type Raw cannot perform executive tasks nor has any styling options. However, it is preferred for plain text documentation and any explanation of code or analytics, particularly if there are passages or paragraphs.

# Short Cuts

[shift] + [enter] : run a cell

Command mode:
a : insert cell above

b : insert cell below

dd : delete a cell

z : undo a delete cell

r : convert cell to raw cell

m : convert cell to Markdown cell

y : convert cell to code cell

c: copy a cell

v : paste a cell

x : cut a cell

o : toggle output

## Edit Mode:

Ctrl + C : copy a text

Ctrl + V : paste

Ctrl + X : cut

Ctrl + Z : undo

# Keywords
* Keywords are reserved words in Python with designated meanings.
* These cannot be used as identifiers to name objects.

In [ ]:
import keyword
print(keyword.kwlist)  # listing out the keywords within Python

In [ ]:
len(keyword.kwlist)

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Identifiers

## <b> Variables</b>
<p> When you create a variable, the
interpreter will reserve some space in the memory to store values.</p>
</br>

 <p> There are certain rules or naming conventions for naming variables or identiiers. The following are the rules:

 <li>Reserved key words such as if, else, and so on cannot be used for naming variables
<li>Variable names can begin with _ or a letter
<li>Variable names can be in lower case and uppercase
<li>Variable names cannot start with a number 
<li>White space characters are not allowed in the naming of a variable


</br>

<table>
  <tr>
    <th>Variables</th>
    <th>Valid\invalid </th>
    <th>Reason</th>
   
  </tr>
  <tr>
    <td>city</td>
    <td>Valid</td>
    <td>Variable names can be in lower case and uppercase</td>
    
    
  </tr>
  <tr>
  <td>for</td>
    <td>invalid</td>
    <td>Reserved key words</td>
   
   
  </tr>

  <tr>
  <td>break</td>
    <td>invalid</td>
    <td>Reserved key words</td>
   
   
  </tr>

  <tr>
  <td>_sum</td>
    <td>valid</td>
    <td>Variable names can begin with _  or a letter</td>
   
   
  </tr>
  <tr>
  <td>&nbsp temp</td>
    <td>invalid</td>
    <td>White space characters are not allowed in the naming of a variable</td>
   
   
  </tr>

  <tr>
  <td>user name</td>
    <td>invalid</td>
    <td>White space characters are not allowed in the naming of a variable</td>
   
   
  </tr>
  <tr>
  <td> user_name</td>
    <td>invalid</td>
    <td>Variable names can begin with _ or a letter</td>
   
   
  </tr>
  <tr>
  <td>2fname</td>
    <td>invalid</td>
    <td>Variable names cannot start with a number</td>
   
   
  </tr>
<tr>
  <td>fname2</td>
    <td>valid</td>
    <td>Variable names can begin with _ or a letter</td>
   
   
  </tr>
</table>

* An identifier is the name we provide to an entity such as a function or variable.
* It helps in differentiating one entity from other.
  
_There are certain dos and don'ts to observe while picking an identifier._

In [ ]:
2var=34  #identifier cannot begin with a digit

In [ ]:
word@123='abc' # cannot use special symbols

In [ ]:
import=153 # Keywords cannot be used as identifier

In [ ]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

In [ ]:
VAR_1=2 # new variable assigned
var_1 + VAR_1

In [ ]:
city_ind = "Mumbai"

# Comments
The use of comments in a code cell can explain the method or operation in use. Commenting helps to
- Improve readability
- Make for a quick review of the work

In [ ]:
# Hashtag is effective for short phrases
units = 10
sell_price = 120
total = units*sell_price  # Total amount

In [ ]:
total # if we have long sentences and need to go to the next line, 
# we cannot continue it without another hashtag

#### The syntax is designed such that the comment is ignored by the kernel during execution of the cell.

In [ ]:
'''
Multi-line remarks becomes easy to 
express with this style of commenting.
'''
num1 = 25
num2 = 50
sum = num1 + num2
sum

In [ ]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

# Statements
* Instructions that a Python interpreter can execute

In [ ]:
# Single line statement
p1 = 20 + 30 +  40  +  50 + 70 + 80
p1

In [ ]:
# Multiple line statement
p1 = 20 + 30 \
+  40  +  50  \
+ 70 + 80
p1

# Variables

*  A Python variable creates a reserved memory location to store a value.
*  A variable can be initialised by assigning some value to begin with.

In [ ]:
k=30 ## variable creation

In [ ]:
k ## calling of variable

In [ ]:
print(k) ## print the variable

In [ ]:
tigers = 2500
lions = 1450
tigers
lions  # attempt to call multiple variables

In [ ]:
print(tigers) # requires print() function to execute multiple displays
print(lions)

## Variable Assignment

In [ ]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

### Multiple Assignment

In [ ]:
species,age,bp = "Elephant",50,125.6
# Using commas to separate variables
print("Species:",species)
print("Lifespan in years:",age)
print("Average blood pressure:",bp)

In [ ]:
p1 = p2 = p3 = p4 = 44
# All variables pointing to same value
print(p1,p2,p3,p4)

# Data Types

## Numeric
**Integer**: denoted as int 

**Float**: denoted as float

In [3]:
a = 12
type(a)

int

In [4]:
b=-100
type(b)

int

## Boolean
Boolean datatype can have only two possible values: True or False

In [5]:
on=True

In [6]:
off=False

In [7]:
type(on)

bool

In [ ]:
bool(0)

In [ ]:
bool(-98) # Anything apart from 0 is True

## String

> A sequence of characters is a string.

In [ ]:
doc = "It's a fine day."
doc

In [ ]:
print("Type of the document:",type(doc))

In [ ]:
address = '#2 Main Street, 56/3' # Define string using single quotes
print(address)

| Operators      | Description |  
| :---        |:----:   |
| subscript/indexing    | Positive subscript helps in accessing the string from the beginning. Negative subscript helps in accessing the string from the end.     |
| concatination(+)   |  The + operator joins the text on  both sides of the operator|
|Repeaters *      | The * operator repeats the string on the left hand side times the value on right hand side.|
|in|The operator displays true if the string contains the given character or the sequence of characters.|
|not in|The operator displays 1 if the string does not contain the given character or the sequence of characters|

### String indexing

<table>
  <tr>
    <th>String</th>
    <th>H</th>
    <th>E</th>
    <th>L</th>
    <th>L</th>
    <th>0</th>
    <th> </th>
    <th>P</th>
    <th>Y</th>
    <th>T</th>
    <th>H</th>
    <th>O</th>
    <th>N</th>
  </tr>
  <tr>
    <td>Positive Index</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
   
  </tr>
  <tr>
  <td>Negative Index</td>
    <td>-12</td>
    <td>-11</td>
    <td>-10</td>
    <td>-9</td>
    <td>-8</td>
    <td>-7</td>
    <td>-6</td>
    <td>-5</td>
    <td>-4</td>
    <td>-3</td>
    <td>-2</td>
    <td>-1</td>
  </tr>
</table>

In [3]:
str1='HELLO PYTHON'

In [7]:
str1[4] # First character in string "str1"

'O'

In [10]:
str1[-8] # reverse indexing possible

'O'

In [ ]:
len(str1) # Number of chars in given string

In [ ]:
str1[-1] # Last character

In [11]:
str1[6] #Fetch 7th element of the string

'P'

In [12]:
str1[14]

IndexError: string index out of range

### String Slicing

In [13]:
str1

'HELLO PYTHON'

In [ ]:
#str1[start:end:step]
str1[:]

In [ ]:
str1[:5] # default start ~ beginning of string

In [ ]:
str1[1:]

In [ ]:
str1[0:5]  #

In [14]:
str1[2:6] ## start:end

'HELLO'

In [16]:
str1[::1]

'HELLO PYTHON'

In [17]:
str1[::2]

'HLOPTO'

In [19]:
str1[::-1] # reverse the string

'NOHTYP OLLEH'

In [21]:
# str1[start:end:step]

str1[::-2]

'NHY LE'

### Update and Delete string

* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [22]:
course='Data Science'
course[:4]

'Data'

In [23]:
course[:4] = "Life"

TypeError: 'str' object does not support item assignment

In [24]:
# while it delivers the output
print(course) # the immutable string remains unchanged

Data Science

In [25]:
del course # delete the object
course # called right after - error confirms success

NameError: name 'course' is not defined

### String concatenation

In [ ]:
#  String concatenation
s1 = "Well"
s2 = "being"
s1 + s2

In [ ]:
# storing the result
s3 = s1 + "-" + s2
s3

### String Membership

In [26]:
greeting = "Hello Namaste ,Good Evening "
greeting

'Hello Namaste ,Good Evening '

In [27]:
'Hello' in greeting # Check for presence of substring within a document

True

In [28]:
"Namaste" in greeting

True

In [29]:
'hello' in greeting # case-sensitive

False

In [ ]:
"morning" not in greeting

# String Functions

In [36]:
mystr2=" hello Everyone,Good Morning "

In [37]:
mystr2.count("e")

3

In [38]:
mystr2.count("E")

1

In [39]:
mystr2.lower()

' hello everyone,good morning '

In [40]:
mystr2.upper()

' HELLO EVERYONE,GOOD MORNING '

In [41]:
mystr2.index("v")

8

In [42]:
mystr2.split()

['hello', 'Everyone,Good', 'Morning']

In [45]:
mystr3 = "Amit:Banu:Chetan:Dhanu"
mystr3.split(":")

['Amit', 'Banu', 'Chetan', 'Dhanu']

### String Partitioning
partition() searches for a substring as argument to break up the string into 3 parts:
- part before the argument
- argument substring
- part following the argument

In [30]:
str5 = "My name is Arjun and I'm from Mumbai"
L = str5.partition("and")
L

('My name is Arjun ', 'and', " I'm from Mumbai")

In the above string, "and" occurs twice. partition() locates the first instance.

In [47]:
mystr6 = " Hello Everyone    "
mystr6

' Hello Everyone    '

In [49]:
mystr6.strip() # removes whitespaces at the start and end of string

'Hello Everyone'

In [50]:
new_greet=mystr6.strip()

In [51]:
new_greet

'Hello Everyone'

In [52]:
mystr7='*******Preparation Predecessor Premonition Prenuptials Projection********'
mystr7

'*******Preparation Predecessor Premonition Prenuptials Projection********'

In [54]:
mystr7.strip("*") # default

'Preparation Predecessor Premonition Prenuptials Projection'

### format() for a string

In [56]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
"Cost of the three items are {} , {} and {} respectively.".format(item1,item3,item2)

'Cost of the three items are 40 , 77 and 55 respectively.'

In [55]:
a=5000
b=3000
c=9
print('The value of a is {} and the value of b is {} value of c is {}  '.format(a,b,c))

The value of a is 5000 and the value of b is 3000 value of c is 9

# Typecasting

Type Casting is the process of a variable's data type converted into another type in order for an operation to be performed.

* There are 2 ways in which typecasting occurs:

1) Autotypecasting

2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
4 + 5.67 + False
##( background processing of the code) due to the
##higher hierarchy of float datatype

In [ ]:
4 + 5.6 + False + True

In [ ]:
4+3+'data'+6.7

## Forced Typecasting

In [58]:
a=9.7 # consider a float variable
type(a)

float

In [60]:
a_int=int(a)# drags to base integer value
a_int

9

In [61]:
a_str=str(a)
a_str

'9.7'

In [62]:
a_bool=bool(a)
a_bool

True

In [63]:
b=5 # consider an integer variable
type(b)

int

In [64]:
b_float=float(b)
b_float

5.0

In [65]:
b_bool=bool(b)  # boolean for any value except 0 is True
b_bool

True

In [66]:
b_str=str(b)
b_str

'5'

In [67]:
c=False # consider a boolean variable

In [68]:
c_int=int(c)
c_int

0

In [69]:
c_float=float(c)
c_float

0.0

In [70]:
c_str=str(c)
c_str

'False'

In [ ]:
int(5.6)+float(6)+bool(23)

In [ ]:
int(6.5)+1.2+int(5.5)+ bool(0)

In [71]:
pwd

'C:\\Users\\Lenovo\\akshatha\\PYTHON ESSE'